/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */

/* Global background for the whole application */
.root {
    -fx-background-color: #F5F5F5;
}

/* Style for the score board */
.score-label {
    -fx-font-size: 20px;
    -fx-padding: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

/* Style for the game board */
.game-board {
    -fx-border-color: #BBBBBB;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0, 2, 2);
}

.game-board .button {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1px;
    -fx-font-size: 22px;
    -fx-text-fill: #333333;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 1, 1);
    -fx-font-weight: bold;
}

/* Style for the title */
.game-label {
    -fx-text-alignment: center;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 1, 1);
}