/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: #f0f0f0;
}

.button{
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-min-width: 100px;
	-fx-min-height: 100px;
}